/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* this is for the nav bar */

.aboutMePic{

position: relative;
text-align: center;

}

.homePageMiddleRow {
 
  grid-row: 25rm;


}
.aboutMeButton {

  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f2e9d8;
}
.starNowPic{

  position: relative;
  text-align: center;
}

.StartNowText{
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: #f2e9d8;

}

body{
    background-color:#84a3a6;
}
.homePage{
  width: 100dvh;
  height: 100dvh;
  padding:0px;
}


.homePageText{
  padding:10px;
}
.processBox{
  background-color:  #f2e9d8;
  justify-content:center;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}



.button-10 {
  display: flex;
  flex-direction: column;
  align-items: center;
 
  padding: 6px 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color:#313d49;
  background: linear-gradient(180deg,  #96b4b7 0%, #84a3a6 100%);
   background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-10:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

  .carouselView{
    width: 1000px;
    height: 450px;

  }
  .reviewText{
    position: absolute;
    top:20%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #f2e9d8;
    color: #313d49;

  }
  .signupPage{}

  
    


    




  

  
 
  
  


  

  


/* #f2e9d8 biege navbar and containers*/

/* dark blue #313d49 */


/* dark blue #313d49
dark green #54665a
lighter blue #84a3a6
#f2e9d8
#efd9b2 darker version of above */





