/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

.bg-dark {
    background-color: #54665a !important;
}

.nav-link {
    color: #84a3a6 !important;
    border-color: #84a3a6 !important;
    padding: 10px;
}

@media (max-width: 479px) {
    .nav-link {
        width: 54px;
    }

    .schedule-row {
        --bs-gutter-x: 0.15rem !important;
    }
}

.text-light {
    color: #f2e9d8 !important
}

.nav-link.active {
    border-right: none;
    border-radius: 0%;
    border-right: none;
    background-color: white !important;
}

.collapse.show {
    padding: 0px
}

.schedule-row {
    --bs-gutter-x: 1.15rem;
}